@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #F9FBFD;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-conatiner-header {
  justify-content: center;
  margin-bottom: 30px;
  ;
}

.product-conatiner-header,
.sort-products-wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.sort-products-wrapper {
  column-gap: 5px;
}

input {
  border-radius: 0;
  height: 30px;
  padding: 5px;
  border: 2px solid #000;
}

input:focus {
  outline: none;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin: auto;
  width: 1200px;
  max-width: 100%;
}

.products-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5f5f9;
  border-radius: 20px;
  padding: 20px 15px;
  border: 10px solid rgb(174 220 231 / 20%);
  transition: all .3s ease;
}

.products-list-item:hover {
  background-color: #ffffff;
  border: 10px solid rgb(55 142 163 / 20%);
}

.products-list-item h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.products-list-item div span:first-child {
  font-size: 14px;
}

.products-list-item div span:last-child {
  font-weight: 700;
  padding-left: 10px;
  ;
}

.products-list-item:hover div span:last-child {
  color: #26879d;
}

.products-list-item:hover h2 {
  color: #085263;
}